.bg-color{
    background: rgb(0,241,255);
    background: linear-gradient(110deg, rgba(0,241,255,0.13489145658263302) 0%, rgba(235,0,255,0.13489145658263302) 13%, rgba(24,88,110,0.15730042016806722) 37%, rgba(0,212,255,0.13209033613445376) 60%, rgba(231,0,255,0.14049369747899154) 85%, rgba(0,224,255,0.13209033613445376) 100%);
    backdrop-filter: blur(200px);
}
.btn-liner{

    background: linear-gradient(110deg, rgba(0,241,255,0.3897934173669467) 0%, rgba(235,0,255,0.3449754901960784) 12%, rgba(45,169,210,0.3225665266106442) 39%, rgba(0,212,255,0.3253676470588235) 60%, rgba(231,0,255,0.26094187675070024) 85%, rgba(0,224,255,0.25253851540616246) 100%);
    backdrop-filter: blur(200px);
   background-color: #fff;
}
